FindPost/WebContent/wsdl/get_info_post.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Post" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Post" xmlns:intf="http://Post" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Post" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchPost">
    <complexType>
     <sequence>
      <element name="author_name" type="xsd:string"/>
      <element name="title" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPostResponse">
    <complexType>
     <sequence>
      <element name="searchPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchPostResponse">

      <wsdl:part element="impl:searchPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchPostRequest">

      <wsdl:part element="impl:searchPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="get_info_post">

      <wsdl:operation name="searchPost">

         <wsdl:input message="impl:searchPostRequest" name="searchPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchPostResponse" name="searchPostResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="get_info_postSoapBinding" type="impl:get_info_post">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="get_info_postService">

      <wsdl:port binding="impl:get_info_postSoapBinding" name="get_info_post">

         <wsdlsoap:address location="http://localhost:8080/FindPost/services/get_info_post"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
