Blog_Platform/WebContent/wsdl/EditPost.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="editPost">
    <complexType>
     <sequence>
      <element name="authorId" type="xsd:int"/>
      <element name="postId" type="xsd:int"/>
      <element name="updatedTitle" type="xsd:string"/>
      <element name="updatedContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editPostResponse">
    <complexType>
     <sequence>
      <element name="editPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="editPostResponse">

      <wsdl:part element="impl:editPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editPostRequest">

      <wsdl:part element="impl:editPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EditPost">

      <wsdl:operation name="editPost">

         <wsdl:input message="impl:editPostRequest" name="editPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:editPostResponse" name="editPostResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EditPostSoapBinding" type="impl:EditPost">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="editPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EditPostService">

      <wsdl:port binding="impl:EditPostSoapBinding" name="EditPost">

         <wsdlsoap:address location="http://localhost:8080/Blog_Platform/services/EditPost"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
